.item svg {
    font-size: 45px;
    margin-right: 15px;
}
.item svg path {
    fill: url(#my-light-gradient);
}

.dark .item svg path {
    fill: url(#my-dark-gradient);
}

.heroheader h1{
    font-size: 72px;
    line-height: 1.38em;
}
@media (max-width: 720px) {
    .heroheader h1 {
        font-size: 30px;
    }
}
@media (max-width: 540px) {
    .heroheader h1 {
        white-space-collapse: break-spaces;
    }
}
.heroheader{
    margin-bottom: 5rem;
}
