.skill .tech {
    margin: 8px;
    width: 150px;
    text-align: center;
    transition: all 200ms ease-in-out;
}
.skill .tech img {
    height: 100px;
}
.skill .tech:hover {
    scale: 1.1;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.26) 0px 12px 30px 4px;
    background: #f0f0f040;
}
.vscode {
    padding: 14px;
}
.skill{
    margin:0px auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media (min-width:1280px) {
    .skill {
        max-width: 900px;
    }
    
}